<!DOCTYPE html>
<html id="body" lang="en">
{% extends 'base.html' %}


{% block title %} 

info

{% endblock %}


{% block content %}

	<div id="body">
		<div id="card-background" class="container rounded pt-5 pb-5">
			<div id="card1" class="card w-100 mt-4">
				<div id="loglist" class="card-body shadow">
					<h2 id="title2" class="mb-2 pb-2"><strong>Recent logs:</strong><button class="btn btn-danger" onclick="deleteReload()" style="float: right;">Delete recent logs</button></h2>
          <div id="content-wrapper"></div>
				</div>
			</div>
		</div>
		<br></br>
	</div>

{% endblock %}